VITE_CATALOG_API_URL=http://localhost:8002
VITE_ORDER_API_URL=http://localhost:8003
VITE_ANALYTICS_API_URL=http://localhost:8005
VITE_COMPATIBILITY_API_URL=http://localhost:8004

VITE_INVENTORY_API_URL=http://localhost:8006
